/* typography */
h1,h2 {font-family: 'Titillium Web', sans-serif;text-transform: uppercase;}
h3,h4, blockquote, blockquote p, .quotereference { font-family: 'Anaheim', sans-serif; }
p,li { font-family: 'Anaheim', sans-serif; }

a { color: #259bd9; text-decoration: none; }
a:hover { text-decoration: underline; }

h2,h3,h4, blockquote, blockquote p { font-size: 30px; }
h1,h2 {color:#00afee;text-align:center;}
h1 {color:#ffffff;font-size: 40px;}
h3,h3 a{color:#00afee;}
h2.referenten {color:#000;}

p, li { color: #fff; font-size: 15px;line-height: 26px;}
blockquote, blockquote p { color:#fff; line-height: 1.5em; text-align:center; margin:1em 0 0.5em; }
.quotereference { color:#00afee;text-align:center;font-size: 24px; margin-bottom:50px;}

/* layout */
html, body{margin:0;padding:0;}
.header 	{background-color:#1d638c;text-align:center;margin:0px;}
.header li, .footer li 	{display:inline;margin:0 15px 0 0;text-transform: uppercase;font-size: 14px;color:#fff;}
ul.navigation {margin:0px;color:#fff;padding:3px;}
.navigation a { color: #fff; }
.footer ul.navigation { background-color: #f0f0f0; text-align:center; }
.footer .navigation a { color: #259bd9; }

.section { padding-top: 1em; padding-bottom: 3em; }
.section.stage { background-color: #1d6088;background-image: url('http://www.supersoon.net/RSE_temp/images/stage_background.jpg');padding-top: 150px;background-position: center top; background-repeat: repeat-x; }
.section.eins { background-color: #1d628b; }
.section.zwei, .section.zwei a { color: #000; background-color: #4091c5; }
.section.drei { background-color: #b7d6ea; }
.section.vier { background-color: #ffffff; }
.section.eins h2, .section.eins p,
.section.zwei h2, .section.zwei p {color:#fff;}
.section.map { padding: 0; }
.section.drei h2, 
.section.vier h2 {color:#4091c5;}

/* .section:nth-of-type(2n+1) { background-color: #f0f0f0; } */
.maincolumn { font-family: 'Anaheim', sans-serif;width: 100%; max-width: 960px; margin: 0 auto; padding: 0px; }

.speaker h3:nth-of-type(2n+1), .speaker h3:nth-of-type(2n+1) + p { margin-left: 200px; }
.speaker h3:nth-of-type(2n), .speaker h3:nth-of-type(2n) + p { text-align: right; margin-right: 200px; }
.speaker h3:nth-of-type(2n+1) img { margin-left: -200px; }
.speaker h3:nth-of-type(2n) img { margin-right: -200px; }

.twocolumns {
	column-count: 2; -webkit-column-count: 2; -moz-column-count: 2;
	column-width: 244px; -moz-column-width: 244; -webkit-column-width: 244px;}

.threecolumns {
	column-count: 3; -webkit-column-count: 3; -moz-column-count: 3;
	column-width: 244px; -moz-column-width: 244; -webkit-column-width: 244px;}
	
.fourcolumns {
	column-count: 4; -webkit-column-count: 4; -moz-column-count: 4;}

iframe.video, object.video, iframe[src^="http://www.youtube.com"] { margin-bottom: 11px;}

.sponsors { text-align: center; margin-bottom: 5em; }
.sponsors img { margin: 11px 44px; }

.sponsors { margin: 0 auto;column-count: 4; -webkit-column-count: 4; -moz-column-count: 4; }


/* link indicators */
.maincolumn a[href^="http://www.slideshare.net"],
.maincolumn a[href^="http://slideshare.net"] {
	padding-left: 16px; background: url(../-media/general/slideshare.gif) no-repeat left center; margin-left: 16px; }
.maincolumn a[href^="http://prezi.com"] {
	padding-left: 16px; background: url(../-media/general/prezi.png) no-repeat left center; margin-left: 16px; }
