/* typography */
p,li { font-family: "Avenir Next", Arial, Helvetica, Geneva, SunSans-Regular, sans-serif; }
h2,h3,h4, blockquote, blockquote p { font-family: Kefa, Rockwell, Georgia, "Courier New", Courier, Monaco, monospace; }

h2 { color: #259bd9; font-size: 26px; font-weight: normal; text-align: center; }
h3 { font-size: 22px; font-weight: normal; text-transform: uppercase; margin-top: 44px; }
h4 { font-weight: normal; }
p, li { color: #555; font-size: 14px; line-height: 26px; }
blockquote, blockquote p { text-align: center; font-size: 24px; }
a { color: #259bd9; text-decoration: none; }
a:hover { text-decoration: underline; }

/* layout */
body { margin: 0; }
.header { background-color: #000; padding-left: 3em; }
.header p { margin-top: 0; }
.section { padding-top: 1em; padding-bottom: 3em; }
.section.map { padding: 0; }
.section:nth-of-type(2n+1) { background-color: #f0f0f0; }
.maincolumn { width: 100%; max-width: 800px; margin: 0 auto; padding: 0 20px; }
.speaker h3:nth-of-type(2n+1), .speaker h3:nth-of-type(2n+1) + p { margin-left: 200px; }
.speaker h3:nth-of-type(2n), .speaker h3:nth-of-type(2n) + p { text-align: right; margin-right: 200px; }
.speaker h3:nth-of-type(2n+1) img { margin-left: -200px; }
.speaker h3:nth-of-type(2n) img { margin-right: -200px; }
iframe.video, object.video, iframe[src^="http://www.youtube.com"] { margin-bottom: 11px;}
.footer { margin: 0 auto; }
.sponsors { text-align: center; }
.sponsors img { margin: 11px 44px; 44px }

/* link indicators */
.maincolumn a[href^="http://www.slideshare.net"],
.maincolumn a[href^="http://slideshare.net"] {
	padding-left: 16px; background: url(../-media/general/slideshare.gif) no-repeat left center; margin-left: 16px; }
.maincolumn a[href^="http://prezi.com"] {
	padding-left: 16px; background: url(../-media/general/prezi.png) no-repeat left center; margin-left: 16px; }
